body {
    background-image: url("https://images.unsplash.com/photo-1566996675874-f00a61522322?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1444&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Abel', sans-serif;
    font-family: 'Macondo', cursive;
    font-family: 'Montserrat', sans-serif;
}

